body h1 {
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
   }
  

div  > a{
    font-size: medium;
}
div {
    background-color: orangered;
}
h2 + p {
    font-style: bold; 
    background-color: yellow;
}
a:link {
      color: yellow;       
}

a:visited {
    color: blue; 
}
a:hover {
    font-weight: bolder;
    }
a:active {
    font-size: 0.75em;
}

* {
   margin: 0;
   padding: 0;
}

#grid-container {
    display: grid;
}
#header {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 50% 10% 10% 10%;
    justify-items: center;
    align-items: center; 
}
#a:hover {
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes animation {
    0% {width: 100em;}
    50% {width: 500em;}
    100% {width: 100em;}
}